body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  background-color: plum;
  padding: 20px;
  color: #fff;
}

.post {
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border-bottom: 5px solid #555;
  padding-bottom: 20px;
}

h2 {
  color: #fff;
  margin-bottom: 10px;
}

p {
  color: #fff;
  margin-bottom: 5px;
}
p.like-counts {
  width: 7%;
  padding: 5px 5px 5px 10px;
  border-radius: 20px;
  color: black;
  background-color: beige;
}

p.content {
  background-color: #968;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
}

.author {
  text-align: right;
  font-weight: bold;
  color: plum;
}

a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

a.btn-primary {
  background-color: teal;
}

a.btn-danger {
  background-color: crimson;
}

a.like-btn {
  background-color: gold;
}

a.add-btn {
  background-color: silver;
  color: black;
}